<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager" />
    </listeners>

    <test verbose="2" preserve-order="true"
          name="/Users/pawan/IdeaProjects/practice_framework/src/test/java/testCases/FirstTest.java">
        <classes>
            <class name="testCases.FirstTest">
                <methods>
                    <include name="login"/>
<!--                    <include name="login1"/>-->

                </methods>
            </class>
        </classes>
    </test>
</suite>